/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');


/* Variables */

:root {
    --principal: #fff;
    --secondary: #000;
    --tertiary: #1877f2;
    --quarter: #e2efff;
    --font-primary: "Inter", sans-serif;

}

/* Normalize */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Globals */

html {
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: var(--principal);
}


body {
    background-color: var(--quarter);
    color: var(--principal);
    font-family: var(--font-primary);
      
}  
h1 { font-size: 6.4em;}
h2 { font-size: 4em;}
h3 { font-size: 3em;}
h4 { font-size: 2em;}
p { font-size: 1.8em;}


.menu {
    list-style-type: none;
}
.menu__links {
    text-decoration: none;
    font-size: 1.4em;
    color: var(--secondary);
    display: inline-block; 
    padding: 1rem;  
    transition: all 0.3s ease-in-out; 
}

/* Helpers */

.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Vista desktop */
@media only screen and (min-width:1024px) {
    body { background-color: var(--quarter);}


.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7.2rem 50rem 1fr 20rem;
    justify-items: center;
    align-items: center;
}

header {
    background-color: var(--principal);
    grid-column: 1 / 2;
    min-width: 100%;
}

header .navbar {
    height: 7.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo {
    flex-basis: 20%;
}
header .logo img {
    height: 7.2rem;
    width: auto;
}
header .reserv {
    flex-basis: 20%;
}

header .menu {
    flex-basis: 40%;
    justify-content: space-between;
    font-weight: bold;
    
}
.navbar .menu__links:hover {
    background-color:  var(--tertiary);
    color: var(--principal);
}

.navbar .reserv {
    padding: 0 2rem;
    text-align: right;
}

.navbar .reserv__button {
    padding: 0.9rem 2.5rem;
    background-color: var(--tertiary);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: var(--principal);
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
.navbar .reserv__button:hover {
    background-color: #034192;
}



.back {
    grid-column: 1 / 2;
    width: 100%;
    height: 50rem;
    left: 0px;
    top: 0px;
    padding-top: 22rem;
    background: url(../asset/Image/backgroundPages.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:  cover;
    background-attachment: scroll;   
    text-align: center;
   
}

.form {
    grid-column: 1 / 2;
    background-color: var(--tertiary);
    padding: 4rem 12rem;
    width: 100%;
    color: var(--secondary);
    margin-top: 5rem;
}
label{
    font-size: 2.2em;

}
.form input {
    background-color: rgba(199, 199, 199, 0.4);
    border: 0px;  
    text-align: center; 
}
.datos {
    background-color: var(--quarter);
    padding: 2rem;
}

.datos input {
    width: 25rem;
    height: 2.5rem; 
}
.radio {
    background-color: var(--quarter);
    padding: 2rem; 
    font-size: 1.5em;  
  
}
.radio input  {
    padding-right: 1rem;
    cursor: pointer;
}
.value {
    background-color: var(--quarter);
    padding: 2rem;    
}
.form-select {
    width: 60rem;
}
.Obs {
    background-color: var(--quarter);
    padding: 2rem;
}
.Obs textarea {
    width: 70rem;
    height: 10rem;
   background-color:  rgba(199, 199, 199, 0.4);
}
.nov {
    color: var(--principal);
    padding-top: 4remx;
    
}

.nov input {
    cursor: pointer;
}

.reset {
    padding: 0.9rem 2.5rem;
    background-color: var(--quarter);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;

}
.reset:hover {
    background-color: #034192;
    color: var(--principal);
}
.submit {
    padding: 0.9rem 2.5rem;
    background-color: var(--quarter);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;

}
.submit:hover {
    background-color: #034192;
    color: var(--principal);
}




footer {
    background-color: var(--secondary);
    grid-column: 1 / 2;   
    width: 100%;
    height: 20rem;
    justify-content: space-between;
    margin-top: 10rem;   
    background-color: #000000;
    padding: 2.5rem 10rem;
    justify-content: space-between;
}
footer div {
    display: inline-block;
      
}
footer section div ul {
    list-style-type: none;
}
footer section div ul li {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    line-height: 2.5rem;
} 
footer section div ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5rem;
    line-height: 2.5rem;
} 

footer form {
    align-items: center;
}
footer form input {
    text-align: center;
    margin: 1rem;
}
footer form button {
    background-color: var(--tertiary);
    color: var(--principal);
    font-weight: bold;
    border-radius: 5rem;
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
footer form button:hover {
    background-color: #034192;
}
}


@media only screen and (min-width: 768px) and (max-width:1023px){ */
	
    body{
	    background-color: var(--tertiary);
}
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7.2rem 50rem 1fr 20rem;
    justify-items: center;
    align-items: center;
}

header {
    background-color: var(--principal);
    grid-column: 1 / 2;
    min-width: 100%;
}

header .navbar {
    height: 7.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo {
    flex-basis: 20%;
}
header .logo img {
    height: 7.2rem;
    width: auto;
}
header .reserv {
    flex-basis: 20%;
}

header .menu {
    flex-basis: 60%;
    justify-content: space-between;
    font-weight: bold;
    
}
.navbar .menu__links:hover {
    background-color:  var(--tertiary);
    color: var(--principal);
}

.navbar .reserv {
    padding: 0 2rem;
    text-align: right;
}

.navbar .reserv__button {
    padding: 0.9rem 2.5rem;
    background-color: var(--tertiary);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
.navbar .reserv__button:hover {
    background-color: #034192;
}




.back {
    grid-column: 1 / 2;
    width: 100%;
    height: 50rem;
    left: 0px;
    top: 0px;
    padding-top: 220px;
    background: url(../asset/Image/backgroundPages.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:  cover;
    background-attachment: scroll;   
    text-align: center;
   
}

.form {
    grid-column: 1 / 2;
    background-color: var(--tertiary);
    padding: 2rem;
    width: 100%;
    color: var(--secondary);
    margin-top: 5rem;
}
label{
    font-size: 2.2em;

}
.form input {
    background-color: rgba(199, 199, 199, 0.4);
    border: 0px;  
    text-align: center; 
}
.datos {
    background-color: var(--quarter);
    padding: 2rem;
}

.datos input {
    width: 25rem;
    height: 2.5rem; 
}
.radio {
    background-color: var(--quarter);
    padding: 2rem; 
    font-size: 1.5em;  
  
}
.radio input  {
    padding-right: 1rem;
    cursor: pointer;
}
.value {
    background-color: var(--quarter);
    padding: 2rem;
}
.Obs {
    background-color: var(--quarter);
    padding: 2rem;
}
.Obs textarea {
    width: 100%;
    height: 10rem;
   background-color:  rgba(199, 199, 199, 0.4);
}
.nov {
    color: var(--principal);
    padding-top: 4rem;
    
}

.nov input {
    cursor: pointer;
}
.reset {
    padding: 0.9rem 2.5rem;
    background-color: var(--quarter);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;

}
.reset:hover {
    background-color: #034192;
    color: var(--principal);
}
.submit {
    padding: 0.9rem 2.5rem;
    background-color: var(--quarter);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;

}
.submit:hover {
    background-color: #034192;
    color: var(--principal);
}




footer {
    background-color: var(--secondary);
    grid-column: 1 / 2;   
    width: 100%;
    height: 20rem;
    justify-content: space-between;
    margin-top: 10rem;   
    background-color: #000000;
    padding: 2.5rem 10rem;
    justify-content: space-between;
}
footer div {
    display: inline-block;
      
}
footer section div ul {
    list-style-type: none;
}
footer section div ul li {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    line-height: 2.5rem;
} 
footer section div ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5rem;
    line-height: 2.5rem;
} 

footer form {
    align-items: center;
}
footer form input {
    text-align: center;
    margin: 1rem;
}
footer form button {
    background-color: var(--tertiary);
    color: var(--principal);
    font-weight: bold;
    border-radius: 5rem;
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
footer form button:hover {
    background-color: #034192;
}
}





@media only screen and (max-width: 767px) {
    body{
	    background-color: var(--secondary);
}
.grid {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
}
header {
    background-color: var(--principal);
    
    min-width: 100%;
    display: flex;
    
}

header .navbar {
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    flex-direction: column;
}

header .logo {
    flex-basis: 33%;
}
header .logo img {
    height: 7rem;
    width: auto;
}
header .reserv {
    flex-basis: 33%;
}

header .menu {
    flex-basis: 33%;
    justify-content: space-between;
    font-weight: bold;
       
}
.navbar .menu__links {
    font-size: 1.2em;
}
.navbar .menu__links:hover {
    background-color:  var(--tertiary);
    color: var(--principal);
    
}

.navbar .reserv {
    padding: 0 2rem;
    text-align: right;
}

.navbar .reserv__button {
    padding: 0.9rem 2.5rem;
    background-color: var(--tertiary);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
.navbar .reserv__button:hover {
    background-color: #034192;
}





.back {
    grid-column: 1 / 2;
    width: 100%;
    height: 50rem;
    left: 0px;
    top: 0px;
    padding-top: 22rem;
    background: url(../asset/Image/backgroundPages.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:  cover;
    background-attachment: scroll;   
    text-align: center;
   
}

.form {
    grid-column: 1 / 2;
    background-color: var(--tertiary);
    padding: 2rem;
    width: 100%;
    color: var(--secondary);
    margin-top: 5rem;
}
label{
    font-size: 2.2em;

}
.form input {
    background-color: rgba(199, 199, 199, 0.4);
    border: 0px;  
    text-align: center; 
}
.datos {
    background-color: var(--quarter);
    padding: 2rem;
}

.datos input {
    width: 25rem;
    height: 2.5rem; 
}
.radio {
    background-color: var(--quarter);
    padding: 2rem; 
    font-size: 1.5em;  
  
}
.radio input  {
    padding-right: 1rem;
    cursor: pointer;
}
.value {
    background-color: var(--quarter);
    padding: 2rem;
}
.Obs {
    background-color: var(--quarter);
    padding: 2rem;
}
.Obs textarea {
    width: 100%;
    height: 10rem;
   background-color:  rgba(199, 199, 199, 0.4);
}
.nov {
    color: var(--principal);
    padding-top: 4rem;
    
}

.nov input {
    cursor: pointer;
}
.reset {
    padding: 0.9rem 2.5rem;
    background-color: var(--quarter);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;

}
.reset:hover {
    background-color: #034192;
    color: var(--principal);
}
.submit {
    padding: 0.9rem 2.5rem;
    background-color: var(--quarter);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;

}
.submit:hover {
    background-color: #034192;
    color: var(--principal);
}




footer {
    display: flex;
    background-color: var(--secondary);
    grid-column: 1 / 2;   
    width: 100%;
    height: 50rem;
    justify-content: space-between;
    background-color: #000000;
    padding: 2.5rem 10rem;
  
}
footer section {
    flex-direction: column;
    margin-top: 10rem;
    text-align: center;
}
footer div {
    display: inline-block;
          
}
footer section div ul {
    list-style-type: none;
}
footer section div ul li {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    line-height: 2.5rem;
} 
footer section div ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5rem;
    line-height: 2.5rem;
} 

footer form {
    align-items: center;
}
footer form input {
    text-align: center;
    margin: 1rem;
}
footer form button {
    background-color: var(--tertiary);
    color: var(--principal);
    font-weight: bold;
    border-radius: 5rem;
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
footer form button:hover {
    background-color: #034192;
}
}