/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');


/* Variables */

:root {
    --principal: #fff;
    --secondary: #000;
    --tertiary: #1877f2;
    --quarter: #e2efff;
    --font-primary: "Inter", sans-serif;

}

/* Normalize */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Globals */

html {
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: var(--principal);
}


 body {
     background-color: var(--quarter);
     color: var(--principal);
     font-family: var(--font-primary);
    
    } 
 
 
h1 { font-size: 6.4em;}
h2 { font-size: 4em;}
h3 { font-size: 3em;}
h4 { font-size: 2em;}
p { font-size: 1.8em;}


.menu {
    list-style-type: none;
}
.menu__links {
    text-decoration: none;
    font-size: 1.4em;
    color: var(--secondary);
    display: inline-block; 
    padding: 1rem;  
    transition: all 0.3s ease-in-out; 
}

/* Helpers */

.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Vista desktop */
@media only screen and (min-width:1024px) {
    body { background-color: var(--quarter);}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    grid-template-rows: 7.2rem 70rem auto auto auto auto 20rem;
    justify-items: center;
    align-items: center;
}


header {
    background-color: var(--principal);
    grid-column: 1 / span 3;
    min-width: 100%;
}

header .navbar {
    height: 7.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo {
    flex-basis: 20%;
}
header .logo img {
    height: 7.2rem;
    width: auto;
}
header .reserv {
    flex-basis: 20%;
}

header .menu {
    flex-basis: 40%;
    justify-content: space-between;
    font-weight: bold;
    
}
.navbar .menu__links:hover {
    background-color:  var(--tertiary);
    color: var(--principal);
}

.navbar .reserv {
    padding: 0 2rem;
    text-align: right;
}

.navbar .reserv__button {
    padding: 0.9rem 2.5rem;
    background-color: var(--tertiary);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: var(--principal);
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
.navbar .reserv__button:hover {
    background-color: #034192;
}



.back {
    grid-column: 1 / span 3;
    width: 100%;
    height: 70rem;
    left: 0px;
    top: 0px;
    padding-top: 220px;
    background: url(../asset/Image/backgroundPages.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:  cover;
    background-attachment: scroll;   
    text-align: center;
   
}

.title-img {
    grid-column: 1 / span 3;
    background-color: var(--tertiary);
    width: 60rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    margin: 4rem;
}
.img {
  grid-column: 1 / span 3;
  display: flex;
  text-align: center;
  
}
.img-grid {
    justify-content: space-between;  
    align-items: center;
    justify-content: center;
}

.img-grid picture img {
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


.title-video {
    grid-column: 1 / span 3;
    background-color: var(--tertiary);
    width: 60rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    margin: 4rem;
}
.video {
    grid-column: 1 / span 3;
    
    text-align: center;

}



footer {
    background-color: var(--secondary);
    grid-column: 1 / 4;   
    width: 100%;
    height: 20rem;
    justify-content: space-between;
    margin-top: 10rem;   
    background-color: #000000;
    padding: 2.5rem 10rem;
    justify-content: space-between;
}
footer div {
    display: inline-block;
      
}
footer section div ul {
    list-style-type: none;
}
footer section div ul li {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    line-height: 2.5rem;
} 
footer section div ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5rem;
    line-height: 2.5rem;
} 

footer form {
    align-items: center;
}
footer form input {
    text-align: center;
    margin: 1rem;
}
footer form button {
    background-color: var(--tertiary);
    color: var(--principal);
    font-weight: bold;
    border-radius: 5rem;
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
footer form button:hover {
    background-color: #034192;
}
}


@media only screen and (min-width: 768px) and (max-width:1023px){ */
	
    body{
	    background-color: var(--tertiary);
}
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7.2rem 50rem auto auto auto auto 20rem;
    justify-items: center;
    align-items: center;
}

header {
    background-color: var(--principal);
    grid-column: 1 / 2;
    min-width: 100%;
}

header .navbar {
    height: 7.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo {
    flex-basis: 20%;
}
header .logo img {
    height: 7.2rem;
    width: auto;
}
header .reserv {
    flex-basis: 20%;
}

header .menu {
    flex-basis: 60%;
    justify-content: space-between;
    font-weight: bold;
    
}
.navbar .menu__links:hover {
    background-color:  var(--tertiary);
    color: var(--principal);
}

.navbar .reserv {
    padding: 0 2rem;
    text-align: right;
}

.navbar .reserv__button {
    padding: 0.9rem 2.5rem;
    background-color: var(--tertiary);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
.navbar .reserv__button:hover {
    background-color: #034192;
}




.back {
    grid-column: 1 / 2;
    width: 100%;
    height: 50rem;
    left: 0px;
    top: 0px;
    padding-top: 220px;
    background: url(../asset/Image/backgroundPages.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:  cover;
    background-attachment: scroll;   
    text-align: center;
   
}



.title-img {
    grid-column: 1 / 2;
    background-color: var(--tertiary);
    width: 60rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    margin: 4rem;
}
.img {
  grid-column: 1 / 2;
  display: flex;
  text-align: center;
  padding: 0, 20rem;
  
}
.img-grid {
    justify-content: space-between;  
    align-items: center;
    justify-content: center;
}

.img-grid picture img {
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


.title-video {
    grid-column: 1 /  2;
    background-color: var(--tertiary);
    width: 60rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    margin: 4rem;
}
.video {
    grid-column: 1 /  3;
    
    text-align: center;

}



footer {
    background-color: var(--secondary);
    grid-column: 1 / 2;   
    width: 100%;
    height: 20rem;
    justify-content: space-between;
    margin-top: 10rem;   
    background-color: #000000;
    padding: 2.5rem 10rem;
    justify-content: space-between;
}
footer div {
    display: inline-block;
      
}
footer section div ul {
    list-style-type: none;
}
footer section div ul li {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    line-height: 2.5rem;
} 
footer section div ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5rem;
    line-height: 2.5rem;
} 

footer form {
    align-items: center;
}
footer form input {
    text-align: center;
    margin: 1rem;
}
footer form button {
    background-color: var(--tertiary);
    color: var(--principal);
    font-weight: bold;
    border-radius: 5rem;
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
footer form button:hover {
    background-color: #034192;
}
}





@media only screen and (max-width: 767px) {
    body{
	    background-color: var(--secondary);
}
.grid {
    display: grid;
    grid-template-columns: 100%;
   
    justify-items: center;
    align-items: center;
}
header {
    background-color: var(--principal);
    
    min-width: 100%;
    display: flex;
    
}

header .navbar {
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    flex-direction: column;
}

header .logo {
    flex-basis: 33%;
}
header .logo img {
    height: 7rem;
    width: auto;
}
header .reserv {
    flex-basis: 33%;
}

header .menu {
    flex-basis: 33%;
    justify-content: space-between;
    font-weight: bold;
       
}
.navbar .menu__links {
    font-size: 1.2em;
}
.navbar .menu__links:hover {
    background-color:  var(--tertiary);
    color: var(--principal);
    
}

.navbar .reserv {
    padding: 0 1rem;
    text-align: right;
}

.navbar .reserv__button {
    padding: 0.9rem 2.5rem;
    background-color: var(--tertiary);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
.navbar .reserv__button:hover {
    background-color: #034192;
}





.back {
   
    width: 100%;
    height: 50rem;
    left: 0px;
    top: 0px;
    padding-top: 220px;
    background: url(../asset/Image/backgroundPages.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:  cover;
    background-attachment: scroll;   
    text-align: center;
   
}
.title-img {
   
    background-color: var(--tertiary);
    width: 100%;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    margin: 4rem;
}
.img {
 
  display: flex;
  text-align: center;
  padding: 0, 2rem;
  
}
.img-grid {
    justify-content: space-between;  
    align-items: center;
    justify-content: center;
}

.img-grid picture img {
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


.title-video {
  
    background-color: var(--tertiary);
    width:100%;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    margin: 4rem;
}
.video {
    
    
    text-align: center;
    transform: scale(0.5);

}





footer {
    display: flex;
    background-color: var(--secondary);
  
    width: 100%;
    height: 50rem;
    justify-content: space-between;
    background-color: #000000;
    padding: 2.5rem 10rem;
  
}
footer section {
    flex-direction: column;
    margin-top: 10rem;
    text-align: center;
}
footer div {
    display: inline-block;
          
}
footer section div ul {
    list-style-type: none;
}
footer section div ul li {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    line-height: 2.5rem;
} 
footer section div ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5rem;
    line-height: 2.5rem;
} 

footer form {
    align-items: center;
}
footer form input {
    text-align: center;
    margin: 0.5rem;
}
footer form button {
    background-color: var(--tertiary);
    color: var(--principal);
    font-weight: bold;
    border-radius: 5rem;
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
footer form button:hover {
    background-color: #034192;
}
}