/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');


/* Variables */

:root {
    --principal: #fff;
    --secondary: #000;
    --tertiary: #1877f2;
    --quarter: #e2efff;
    --font-primary: "Inter", sans-serif;

}

/* Normalize */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Globals */

html {
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: var(--principal);
}


 body {
     background-color: var(--quarter);
   
     
 }  
h1 { font-size: 6.4em;}
h2 { font-size: 4em;}
h3 { font-size: 3em;}
h4 { font-size: 2em;}
p { font-size: 1.8em;}


.menu {
    list-style-type: none;
}
.menu__links {
    text-decoration: none;
    font-size: 1.4em;
    color: var(--secondary);
    display: inline-block; 
    padding: 1rem;  
    transition: all 0.3s ease-in-out; 
}

/* Helpers */

.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Vista desktop */
@media only screen and (min-width:1024px) {
    body { background-color: var(--quarter);}


.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 7.2rem 70rem 38rem 45rem 38rem 45rem 20rem;
    justify-items: center;
    align-items: center;
}

header {
    background-color: var(--principal);
    grid-column: 1 / span 4;
    min-width: 100%;
}

header .navbar {
    height: 7.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo {
    flex-basis: 20%;
}
header .logo img {
    height: 7.2rem;
    width: auto;
}
header .reserv {
    flex-basis: 20%;
}

header .menu {
    flex-basis: 40%;
    justify-content: space-between;
    font-weight: bold;
    
}
.navbar .menu__links:hover {
    background-color:  var(--tertiary);
    color: var(--principal);
}

.navbar .reserv {
    padding: 0 2rem;
    text-align: right;
}

.navbar .reserv__button {
    padding: 0.9rem 2.5rem;
    background-color: var(--tertiary);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
.navbar .reserv__button:hover {
    background-color: #034192;
}




.section1 {
    grid-column: 1 / span 4;
    justify-content: center;
    align-items: center;
   
    height: 70rem;
    background: url(../asset/Image/dorado2.jpg);
    max-width: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:  cover;
    background-attachment: scroll;   
}
.section1 h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 6.4em;  
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 8rem;
    line-height: 8rem;
    width: 80rem;
    margin: 0 auto;     
}
.section1 p {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);  
    font-size: 2.4em;
    text-transform: capitalize;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    width: 80rem;
    
 
}






.section2__1 {
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/habitacion.jpg);
    background-size: cover;
  
    text-align: center;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    padding-top: 10rem;  
    
    
}
.section2__2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/servicioPesca.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    padding-top: 10rem;  
   
}
.section2__3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/RestoBar.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    padding-top: 10rem;  
   
}
.section2__4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Naturaleza.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    padding-top: 10rem;  
  
}






.section3 {
    grid-column: 1 / span 4;
    width: 100%;
    height: 45rem;
    left: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/complejo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
   


}
.section3 article {
    background: rgba(24, 119, 242, 0.8);
    align-items: flex-start;
    padding: 6.4rem;
    position: absolute;
    width: 60rem;
    height: 45rem;
    right: 12rem;
    transform: scaleY(1.1);
}
.section3 h2 {
    color: var(--secondary);
    line-height: 10rem;
}
.section3 p {
    line-height: 3.2rem;
}






.section4__1 {
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Pileta.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    padding-top: 10rem;  
    margin: 1.5rem;
   
}
.section4__2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Desayuno.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    padding-top: 10rem;  
    margin: 1.5rem;
   
}
.section4__3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Bajada.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    padding-top: 10rem;  
    margin: 1.5rem;
   
}
.section4__3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Bajada.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    padding-top: 10rem;  
    margin: 1.5rem;
   
}
.section4__4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Bajada.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    padding-top: 10rem;  
    margin: 1.5rem;
   
}






.section5 {
    grid-column: 1 / span 4;
    width: 100%;
    height: 45rem;
    left: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/pesca2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section5 article {
    background: rgba(24, 119, 242, 0.8);
    align-items: flex-start;
    padding: 6.4rem;
    position: absolute;
    width: 60rem;
    height: 45rem;
    left: 12rem;
    transform: scaleY(1.1);
}
.section5 h2 {
    color: var(--secondary);
    line-height: 10rem;
}
.section5 p {
    line-height: 3.2rem;
}




footer {
    background-color: var(--secondary);
    grid-column: 1 / span 4;   
    width: 100%;
    height: 20rem;
    justify-content: space-between;
    margin-top: 10rem;   
    background-color: #000000;
    padding: 2.5rem 10rem;
    justify-content: space-between;
}
footer div {
    display: inline-block;
      
}
footer section div ul {
    list-style-type: none;
}
footer section div ul li {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    line-height: 2.5rem;
} 
footer section div ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5rem;
    line-height: 2.5rem;
} 

footer form {
    align-items: center;
}
footer form input {
    text-align: center;
    margin: 1rem;
}
footer form button {
    background-color: var(--tertiary);
    color: var(--principal);
    font-weight: bold;
    border-radius: 5rem;
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
footer form button:hover {
    background-color: #034192;
}
}

@media only screen and (min-width: 768px) and (max-width:1023px){
	
    body{
	    background-color: var(--tertiary);
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7.2rem 70rem 30rem 30rem 45rem 30rem 30rem 45rem 20rem;
    justify-items: center;
    align-items: center;
}
header {
    background-color: var(--principal);
    grid-column: 1 / span 2;
    min-width: 100%;
}

header .navbar {
    height: 7.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

header .logo {
    flex-basis: 20%;
}
header .logo img {
    height: 7.2rem;
    width: auto;
}
header .reserv {
    flex-basis: 20%;
}

header .menu {
    flex-basis: 60%;
    justify-content: space-between;
    font-weight: bold;
    
}
.navbar .menu__links:hover {
    background-color:  var(--tertiary);
    color: var(--principal);
}

.navbar .reserv {
    padding: 0 2rem;
    text-align: right;
}

.navbar .reserv__button {
    padding: 0.9rem 2.5rem;
    background-color: var(--tertiary);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
.navbar .reserv__button:hover {
    background-color: #034192;
}




.section1 {
    grid-column: 1 / span 2;
    justify-content: center;
    align-items: center;
    height: 70rem;
    background: url(../asset/Image/dorado2.jpg);
    max-width: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:  cover;
    background-attachment: scroll;   
}
.section1 h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 6.4em;  
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 8rem;
    line-height: 8rem;
    width: 80rem;
    margin: 0 auto;     
}
.section1 p {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);  
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    width: 80rem;
    
 
}






.section2__1 {
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/habitacion.jpg);
    background-size: cover;
  
    text-align: center;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    padding-top: 10rem;  
    
    
}
.section2__2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/servicioPesca.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    padding-top: 10rem;  
   
}
.section2__3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/RestoBar.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    padding-top: 10rem;  
   
}
.section2__4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Naturaleza.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    padding-top: 10rem;  
  
}






.section3 {
    grid-column: 1 / span 2;
    width: 100%;
    height: 45rem;
    left: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/complejo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
   


}
.section3 article {
    background: rgba(0, 3, 7, 0.8);
    align-items: center;
    padding: 6.4rem;
    width: 60rem;
    height: 45rem;
    right: 12rem;
    transform: scaleY(1.1);
}
.section3 h2 {
    color: var(--quarter);
    line-height: 10rem;
}
.section3 p {
    line-height: 3.2rem;
}






.section4__1 {
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Pileta.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    padding-top: 10rem;  
    margin: 1.5rem;
   
}
.section4__2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Desayuno.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    padding-top: 10rem;  
    margin: 1.5rem;
   
}
.section4__3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Bajada.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    padding-top: 10rem;  
    margin: 1.5rem;
   
}
.section4__3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Bajada.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    padding-top: 10rem;  
    margin: 1.5rem;
   
}
.section4__4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Bajada.jpg);
    background-size: cover;
    display: inline-block;
    text-align: center;
    width: 23rem;
    height: 23rem;
    padding-top: 10rem;  
    margin: 1.5rem;
   
}






.section5 {
    grid-column: 1 / span 2;
    width: 100%;
    height: 45rem;
    left: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/pesca2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section5 article {
    background: rgba(0, 3, 7, 0.8);
    align-items: center;
    padding: 6.4rem;
    width: 60rem;
    height: 45rem;
    left: 12rem;
    transform: scaleY(1.1);
}
.section5 h2 {
    color: var(--quarter);
    line-height: 10rem;
}
.section5 p {
    line-height: 3.2rem;
}




footer {
    background-color: var(--secondary);
    grid-column: 1 / span 2;   
    width: 100%;
    height: 20rem;
    justify-content: space-between;
    margin-top: 10rem;   
    background-color: #000000;
    padding: 2.5rem 10rem;
    justify-content: space-between;
}
footer div {
    display: inline-block;
      
}
footer section div ul {
    list-style-type: none;
}
footer section div ul li {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    line-height: 2.5rem;
} 
footer section div ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5rem;
    line-height: 2.5rem;
} 

footer form {
    align-items: center;
}
footer form input {
    text-align: center;
    margin: 1rem;
}
footer form button {
    background-color: var(--tertiary);
    color: var(--principal);
    font-weight: bold;
    border-radius: 5rem;
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
footer form button:hover {
    background-color: #034192;
}
}


@media only screen and (max-width: 767px) {
    body{
	    background-color: var(--secondary);
}
.grid {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
}
header {
    background-color: var(--principal);
    
    min-width: 100%;
    display: flex;
    
}

header .navbar {
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    flex-direction: column;
}

header .logo {
    flex-basis: 33%;
}
header .logo img {
    height: 7rem;
    width: auto;
}
header .reserv {
    flex-basis: 33%;
}

header .menu {
    flex-basis: 33%;
    justify-content: space-between;
    font-weight: bold;
       
}
.navbar .menu__links {
    font-size: 1.2em;
}
.navbar .menu__links:hover {
    background-color:  var(--tertiary);
    color: var(--principal);
    
}

.navbar .reserv {
    padding: 0 2rem;
    text-align: right;
}

.navbar .reserv__button {
    padding: 0.9rem 2.5rem;
    background-color: var(--tertiary);
    border: none;
    border-radius: 5rem;
    transition: all 0.3s ease-in-out;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
.navbar .reserv__button:hover {
    background-color: #034192;
}




.section1 {
    grid-column: 1 / 2;
    justify-content: center;
    align-items: center;
    height: 35rem;
    background: url(../asset/Image/dorado2.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:  cover;
    background-attachment: scroll;   
}
.section1 h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 2.8em;  
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 3.2rem;
    line-height: 3rem;
    width: 31rem;
    margin: 0 auto;     
}
.section1 p {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);  
    font-size: 1.3em;
    text-transform: capitalize;
    text-align: center;
    height: 3.2rem;
    line-height: 3rem;
    width: 31rem;
    
 
}






.section2__1 {
    grid-column: 1 / 2;
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/habitacion.jpg);
    background-size: cover;
    text-align: center;
    background-position: bottom;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    padding-top: 3.5rem;  
    font-size: 1em;
    
    
}
.section2__2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/servicioPesca.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    padding-top: 1.5rem;  
    font-size: 1em; 
  
   
}
.section2__3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/RestoBar.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    padding-top: 1.5rem;  
    font-size: 1em; 
   
}
.section2__4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Naturaleza.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1.5rem;  
    font-size: 1em;  
  
}






.section3 {
    grid-column: 1 / span 2;
    width: 100%;
    height: 35rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/complejo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.section3 article {
    background: rgba(0, 3, 7, 0.8);
    align-items: center;
    padding: 1rem;
    width: 100%;
    transform: scaleY(1.1);
    margin-top: 20%;
    margin-bottom: 20%;
    
}
.section3 h2 {
    color: var(--quarter);
    line-height: 4rem;
    font-size: 2.6em;
}
.section3 p {
    line-height: 2.5rem;
    font-size: 1.4em;
}






.section4__1 {
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Pileta.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    padding-top: 1.5rem;  
    font-size: 1em;
   
}
.section4__2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Desayuno.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    padding-top: 1.5rem;  
    font-size: 1em;
   
}
.section4__3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Bajada.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    padding-top: 1.5rem;  
    font-size: 1em;
   
}
.section4__3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Bajada.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    padding-top: 1.5rem;  
    font-size: 1em;
}
.section4__4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/Bajada.jpg);
    background-size: cover;
    grid-column: 1 / 2;
    text-align: center;
    background-position: center;
    width: 100%;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1.5rem;  
    font-size: 1em;
   
}






.section5 {
    grid-column: 1 / 2;
    width: 100%;
    height: 35rem;
    left: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../asset/Image/pesca2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.section5 article {
    background: rgba(0, 3, 7, 0.8);
    align-items: center;
    padding: 1rem;
    width: 100%;
    transform: scaleY(1.1);
    margin-top: 20%;
    margin-bottom: 20%;
    
}
.section5 h2 {
    color: var(--quarter);
    line-height: 4rem;
    font-size: 2.6em;
}
.section5 p {
    line-height: 2.5rem;
    font-size: 1.4em;
}




footer {
    display: flex;
    background-color: var(--secondary);
    grid-column: 1 / 2;   
    width: 100%;
    height: 50rem;
    justify-content: space-between;
    background-color: #000000;
    padding: 2.5rem 10rem;
  
}
footer section {
    flex-direction: column;
    margin-top: 10rem;
    text-align: center;
}
footer div {
    display: inline-block;
          
}
footer section div ul {
    list-style-type: none;
}
footer section div ul li {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    line-height: 2.5rem;
} 
footer section div ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5rem;
    line-height: 2.5rem;
} 

footer form {
    align-items: center;
}
footer form input {
    text-align: center;
    margin: 1rem;
}
footer form button {
    background-color: var(--tertiary);
    color: var(--principal);
    font-weight: bold;
    border-radius: 5rem;
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
footer form button:hover {
    background-color: #034192;
}
}
