@media only screen and (min-width:1024px) {
    header {
        background-color: map-get($colors , principal);
        grid-column: 1 / span 4;
        min-width: 100%;
        .navbar {
            height: 7.2rem;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            .logo {
                flex-basis: 20%;
                img {
                    height: 7.2rem;
                    width: auto;
                }
            }
            
            .reserv {
                flex-basis: 20%;
                padding: 0 2rem;
                text-align: right;
                &__button {
                    padding: 0.9rem 2.5rem;
                    background-color: map-get($colors , tertiary);
                    border: none;
                    border-radius: 5rem;
                    transition: all 0.3s ease-in-out;
                    color: map-get($colors , principal);
                    font-weight: bold;
                    font-size: 1.4em;
                    cursor: pointer;
                    &:hover {
                        background-color: map-get($colors , hoverbtn);
                    }
                }
            }
            
            .menu {
                flex-basis: 40%;
                justify-content: space-between;
                font-weight: bold;
                list-style-type: none;
                .pos {
                    background-color:  map-get($colors , tertiary);
                    color: map-get($colors , principal);
                }
                
                &__links {
                    text-decoration: none;
                    font-size: 1.4em;
                    color: map-get($colors , secondary);
                    display: inline-block; 
                    padding: 1rem;  
                    transition: all 0.3s ease-in-out; 
                    &:hover {
                        background-color:  map-get($colors , tertiary);
                        color: map-get($colors , principal);
                    }
                }
            
            }    
        }
    }    
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    header {
        background-color: map-get($colors , principal);
        grid-column: 1 / span 2;
        min-width: 100%;
        .navbar {
            height: 7.2rem;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            .logo {
                flex-basis: 20%;
                img {
                    height: 7.2rem;
                    width: auto;
                }
            }
            .reserv {
                flex-basis: 20%;
                padding: 0 2rem;
                text-align: right;
                &__button {
                    padding: 0.9rem 2.5rem;
                    background-color: map-get($colors , tertiary);
                    border: none;
                    border-radius: 5rem;
                    transition: all 0.3s ease-in-out;
                    color: map-get($colors , principal);
                    font-weight: bold;
                    font-size: 1.4em;
                    cursor: pointer;
                    &:hover {
                        background-color: map-get($colors , hoverbtn);
                    }
                }
            }
            .menu {
                flex-basis: 60%;
                justify-content: space-between;
                font-weight: bold;
                list-style-type: none;
                .pos {
                    background-color:  map-get($colors , tertiary);
                    color: map-get($colors , principal);
                }
                &__links {
                    text-decoration: none;
                    font-size: 1.4em;
                    color: map-get($colors , secondary);
                    display: inline-block; 
                    padding: 1rem;  
                    transition: all 0.3s ease-in-out; 
                    &:hover {
                        background-color:  map-get($colors , tertiary);
                        color: map-get($colors , principal);
                    }
                }
              
            }    
        }
        
    }
}
    
@media only screen and (max-width: 767px) {
    header {
        background-color: map-get($colors , principal);
        min-width: 100%;
        display: flex;
        .navbar {
            height: auto;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            flex-direction: column;
            .logo {
                flex-basis: 33%;
                img {
                    height: 7rem;
                    width: auto;
                }
            }
            .reserv {
                flex-basis: 33%;
                padding: 0 2rem;
                text-align: right;
                &__button {
                    padding: 0.9rem 2.5rem;
                    background-color: map-get($colors , tertiary);
                    border: none;
                    border-radius: 5rem;
                    transition: all 0.3s ease-in-out;
                    color: map-get($colors , principal);
                    font-weight: bold;
                    font-size: 1.4em;
                    cursor: pointer;
                    &:hover {
                        background-color: map-get($colors , hoverbtn);
                    }
                }
            }
            .menu {
                font-weight: bold;
                list-style-type: none;
                padding: 0.5rem 0;
                .pos {
                    background-color:  map-get($colors , tertiary);
                    color: map-get($colors , principal);
                }
                &__links {
                    text-decoration: none;
                    font-size: 1.2em;
                    color: map-get($colors , secondary);
                    display: inline-block; 
                    padding: 1rem;  
                    transition: all 0.3s ease-in-out; 
                    &:hover {
                        background-color:  map-get($colors , tertiary);
                        color: map-get($colors , principal);
                    }
                }
              
            }    
        }
        
    }
}  



