@media only screen and (min-width:1024px) {
    body { background-color: map-get($colors , quarter);
        .gridC {
            display: grid;
            grid-template-columns: auto auto auto auto;
            justify-items: center;
            align-items: center;
            .back {
                @include baner
            }
            .form {
                grid-column: 1 / span 4;
                background-color: map-get($colors , tertiary);
                padding: 4rem 12rem;
                width: 100%;
                color: map-get($colors , secondary);
                margin-top: 2rem;
                label {
                    font-size: 2.2em;
                }
                input {
                    background-color: rgba(199, 199, 199, 0.4);
                    border: 0px;  
                    text-align: center; 
                }

                .dato, .radio, .value, .Obs {
                    background-color: map-get($colors , quarter);
                    padding: 2rem;
                }
                .dato {
                    input {
                        width: 25rem;
                        height: 2.5rem; 
                    }
                }
                .radio {
                    font-size: 1.5em;  
                    input {
                        cursor: pointer;
                        height: 1.5rem; 
                        width: 1.5rem;  
                    }  
                }
                .form-select {
                    width: 60rem;
                }
                .Obs {
                     textarea {
                        width: 70rem;
                        height: 10rem;
                       background-color:  rgba(199, 199, 199, 0.4);
                    }
                }
                .nov {
                    color: map-get($colors , principal);
                    padding-top: 4rem;
                    input {
                        cursor: pointer;
                        height: 1.5rem; 
                        width: 1.5rem; 
                    }
                }
                .reset, .submit {
                    width: 15rem;
                    height: 3.5rem;
                    padding: 0.9rem 2.5rem;
                    background-color: map-get($colors , quarter);
                    border: none;
                    border-radius: 5rem;
                    transition: all 0.3s ease-in-out;
                    color: map-get($colors , secondary);
                    font-weight: bold;
                    font-size: 1.4em;
                    cursor: pointer;
                    &:hover {
                        background-color: map-get($colors , hoverbtn);
                        color: map-get($colors , principal);
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width:1023px){
    body { background-color: map-get($colors , quarter);
        .gridC {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 7.2rem 50rem 1fr 20rem;
            justify-items: center;
            align-items: center;
            .back {
               @include baner
            }
            .form {
                grid-column: 1 / 3;
                background-color: map-get($colors , tertiary);
                padding: 2rem;
                width: 100%;
                color: map-get($colors , secondary);
                margin-top: 2rem;
                label{
                    font-size: 2.2em;
                }
                input {
                    background-color: rgba(199, 199, 199, 0.4);
                    border: 0px;  
                    text-align: center; 
                }
                .dato, .radio, .value, .Obs {
                    background-color: map-get($colors , quarter);
                    padding: 2rem;
                }
                .dato {
                    input {
                        width: 25rem;
                        height: 2.5rem; 
                    }
                }
                .radio {
                    font-size: 1.5em;  
                    input {
                        cursor: pointer;
                        height: 1.5rem; 
                        width: 1.5rem; 
                    }
                }
                .Obs {
                     textarea {
                        width: 100%;
                        height: 10rem;
                       background-color:  rgba(199, 199, 199, 0.4);
                    }
                }
                .nov {
                    color: map-get($colors , principal);
                    padding-top: 4rem;
                    input {
                        cursor: pointer;
                        height: 1.5rem; 
                        width: 1.5rem; 
                    }
                }
                .reset, .submit {
                    width: 15rem;
                    height: 3.5rem;
                    padding: 0.9rem 2.5rem;
                    background-color: map-get($colors , quarter);
                    border: none;
                    border-radius: 5rem;
                    transition: all 0.3s ease-in-out;
                    color: map-get($colors , secondary);
                    font-weight: bold;
                    font-size: 1.4em;
                    cursor: pointer;
                    &:hover {
                        background-color: map-get($colors , hoverbtn);
                        color: map-get($colors , principal);
                    }
                }
            }
            
        }
    
    }
}
@media only screen and (max-width: 767px){
    body { background-color: map-get($colors , secondary);
        .gridC {
            display: grid;
            grid-template-columns: 100%;
            justify-items: center;
            align-items: center;
            .back {
                @include  baner
            }
            
            .form {
                grid-column: 1 / 2;
                background-color: map-get($colors , tertiary);
                padding: 2rem;
                width: 100%;
                color: map-get($colors , secondary);
                margin: 2rem;
                label{
                    font-size: 2.2em;
                }
                input {
                    background-color: rgba(199, 199, 199, 0.4);
                    border: 0px;  
                    text-align: center; 
                }
            }

            .dato, .radio, .value, .Obs {
                background-color: map-get($colors , quarter);
                padding: 2rem;
            }
            .dato {
                input {
                    width: 25rem;
                    height: 2.5rem; 
                }
            }
            .radio {
                font-size: 1.5em;  
                input  {
                    padding-right: 1rem;
                    cursor: pointer;
                }  
            }
           
            .form-select {
                width: auto;
            }
            .Obs {
                textarea {
                    width: 100%;
                    height: 10rem;
                   background-color:  rgba(199, 199, 199, 0.4);
                }
            }
            .nov {
                color: map-get($colors , principal);
                padding-top: 4rem;
                input {
                    cursor: pointer;
                }
            }
            .reset, .submit {
                width: 15rem;
                height: 3.5rem;
                padding: 0.9rem 2.5rem;
                background-color: map-get($colors , quarter);
                border: none;
                border-radius: 5rem;
                transition: all 0.3s ease-in-out;
                color: map-get($colors , secondary);
                font-weight: bold;
                font-size: 1.4em;
                cursor: pointer;
                &:hover {
                    background-color: map-get($colors , hoverbtn);
                    color: map-get($colors , principal);
                }
            }
        }
    
    }
}