@media only screen and (min-width:1024px) {
    body { background-color: map-get($colors , quarter);
        .gridG {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 7.2rem 70rem auto auto 20rem;
            justify-items: center;
            align-items: center;
            .back {
                grid-column: 1 / span 4;
                width: 100%;
                height: 70rem;
                left: 0px;
                top: 0px;
                padding-top: 22rem;
                background: url(../asset/Image/backgroundpage3.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size:  cover;
                background-attachment: scroll;   
                text-align: center;  
                H1 {
                    color: map-get($colors , principal);
                    font-weight: bold;
                    font-size: map-get($font-size , Xlarge ); 
                    background-color: rgba(0, 0, 0, 0.4);
                    height: 8rem;
                    width: 80rem;
                    margin: 0 auto;
                }
            }
          
            .img {
                grid-column: 1 / span 4;
                display: flex;
                flex-wrap: wrap;
                padding: 0.5rem;
                .column {
                    flex: 25%;
                    padding: 0.5rem;
                }
                picture {
                    img {
                        width: 100%;
                        margin-top: 0.5rem;
                        border: 0.1rem solid;
                        transition: all 0.9s;
                        &:hover {
                            transform: scale(1.6) rotate(360deg);
                            transition: all 0.9s;
                            border: 0.5rem solid;
                            border-color: map-get($colors, principal);
                          
                        }
                    }
                    
                }
            }
            .video {
                grid-column: 1 / span 4;
            }   text-align: center;
            
        }   
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px){ 
	
    body{
	    background-color: map-get($colors , tertiary);
        .gridG {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 7.2rem 50rem auto auto 20rem;
            justify-items: center;
            align-items: center;
            .back {
                grid-column: 1 / span 2;
                width: 100%;
                height: 50rem;
                left: 0px;
                top: 0px;
                padding-top: 220px;
                background: url(../asset/Image/backgroundpage3.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size:  cover;
                background-attachment: scroll;   
                text-align: center; 
                H1 {
                    color: map-get($colors , principal);
                    font-weight: bold;
                    font-size: map-get($font-size , Xlarge ); 
                    background-color: rgba(0, 0, 0, 0.4);
                    height: 8rem;
                    width: 80rem;
                    margin: 0 auto;
                } 
            }
            .img {
                grid-column: 1 / span 2;
                display: flex;
                flex-wrap: wrap;
                padding: 0.5rem;
                justify-content: center;
                .column {
                    flex: 50%;
                    padding: 0.5rem;
                    
                }
                .colimp {
                    picture{
                        img{
                            width: 100%;
                            margin-top: 0.5rem;
                            border: 0.1rem solid;
                            transition: all 0.9s;
                            &:hover {
                                transform: scale(1.35) rotate(360deg) translate(10rem);
                                transition: all 0.9s;
                                border: 0.5rem solid;
                                border-color: map-get($colors, principal);
                              translate:initial;
                           
                            }  
                        }
                    }   
                }
                .colpar {
                    picture{
                        img{
                            width: 100%;
                            margin-top: 0.5rem;
                            border: 0.1rem solid;
                            transition: all 0.9s;
                            &:hover {
                                transform: scale(1.4) rotate(360deg) translate(-10rem);
                                transition: all 0.9s;
                                border: 0.5rem solid;
                                border-color: map-get($colors, principal);
                              translate:initial;
                           
                            }  
                        }
                    }   
                }
               
            }
            .video {
                grid-column: 1 / span 2;
                padding: 0.5rem;
                video {
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    body{
	    background-color: map-get($colors , secondary);
        .gridG {
            display: grid;
            grid-template-columns: 100%;
            justify-items: center;
            align-items: center;
            .back {
                width: 100%;
                height: 50rem;
                left: 0px;
                top: 0px;
                padding-top: 220px;
                background: url(../asset/Image/backgroundpage3jpg);
                background-repeat: no-repeat;
                background-position: bottom;
                background-size:  cover;
                background-attachment: scroll;   
                text-align: center;
                H1 {
                    color: map-get($colors , principal);
                    font-weight: bold;
                    font-size: map-get($font-size , Xlarge ); 
                    background-color: rgba(0, 0, 0, 0.4);
                    height: 8rem;
                    width: 80rem;
                    margin: 0 auto;
                }
               
            }
            .img {
                grid-column: 1 / 2;
                display: flex;
                flex-wrap: wrap;
                padding: 0.5rem;
                .column {
                    
                    padding: 0.5rem;
                }
                picture {
                    img {
                        width: 100%;
                        margin-top: 0.5rem;
                        border: 0.1rem solid;
                    }
                }
            }            
            .video {
                padding: 0.5rem;
                width: 100%;
                video {
                    width: 100%;
                }
            }
        }
    }
}