@media only screen and (min-width:1024px) {
    body { background-color: map-get($colors , quarter);
        .gridG {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 7.2rem 70rem auto auto 20rem;
            justify-items: center;
            align-items: center;
            .back {
                @include baner
            }
          
            .img {
                grid-column: 1 / span 4;
                display: flex;
                flex-wrap: wrap;
                padding: 0.5rem;
                .column {
                    flex: 25%;
                    padding: 0.5rem;
                }
                picture {
                    img {
                        width: 100%;
                        margin-top: 0.5rem;
                        border: 0.1rem solid;
                        transition: all 0.9s;
                        &:hover {
                            transform: scale(1.6) rotate(360deg);
                            transition: all 0.9s;
                            border: 0.5rem solid;
                            border-color: map-get($colors, principal);
                          
                        }
                    }
                    
                }
                .izq {
                    picture{
                        img{
                            &:hover {
                                transform: scale(1.6) rotate(360deg) translate(10rem);
                            }  
                        }
                    }   
                }
                .der {
                    picture{
                        img{
                            &:hover {
                                transform: scale(1.4) rotate(360deg) translate(-10rem);
                               }  
                        }
                    }   
                }
            }
            .video {
                grid-column: 1 / span 4;
            }   text-align: center;
            
        }   
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px){ 
	
    body{
	    background-color: map-get($colors , tertiary);
        .gridG {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 7.2rem 50rem auto auto 20rem;
            justify-items: center;
            align-items: center;
            .back {
                @include baner
            }
            .img {
                grid-column: 1 / span 2;
                display: flex;
                flex-wrap: wrap;
                padding: 0.5rem;
                justify-content: center;
                .column {
                    flex: 50%;
                    padding: 0.5rem;
                    margin-top: 0.5rem;
                    
                }
                .colimp, .colpar {
                    picture{
                        img{
                            width: 100%;
                            margin-top: 0.5rem;
                            border: 0.1rem solid;
                            transition: all 0.9s;
                            &:hover {
                                transition: all 0.9s;
                                border: 0.5rem solid;
                                border-color: map-get($colors, principal);
                                translate:initial;
                            }  
                        }
                    }   
                }
                .colimp {
                    picture{
                        img{
                            &:hover {
                                transform: scale(1.4) rotate(360deg) translate(10rem);
                            }  
                        }
                    }   
                }
                .colpar {
                    picture{
                        img{
                            &:hover {
                                transform: scale(1.4) rotate(360deg) translate(-10rem);
                               }  
                        }
                    }   
                }
               
            }
            .video {
                grid-column: 1 / span 2;
                padding: 0.5rem;
                video {
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    body{
	    background-color: map-get($colors , secondary);
        .gridG {
            display: grid;
            grid-template-columns: 100%;
            justify-items: center;
            align-items: center;
            .back {
                @include baner  
            }
            .img {
                grid-column: 1 / 2;
                display: flex;
                margin-top: 0.5rem;
                flex-wrap: wrap;
                padding: 0.5rem;
                .column {
                    
                    padding: 0.5rem;
                }
                picture {
                    img {
                        width: 100%;
                        margin-top: 0.5rem;
                        border: 0.1rem solid;
                    }
                }
            }            
            .video {
                padding: 0.5rem;
                width: 100%;
                video {
                    width: 100%;
                }
            }
        }
    }
}