@media only screen and (min-width:1024px) {
    body{
	    background-color: map-get($colors , quarter);
        .gridP {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 7.2rem auto auto auto auto 20rem;
            justify-items: center;
            align-items: center;
            .back {
                @include baner
            }
            .hist {
                grid-column: 1 / span 4;
                margin-top: 2rem;
                transition: all 0.9s;
                &:hover {
                    text-shadow: -10px 3px 6px #FFFFFF;
                    transform: scale(1.2);
                    background: url(../asset/Image/pescareel32.jpg);
                    background-size: cover;
                    color: map-get($colors , secondary);
                    transition: all 0.9s ;
                    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                    0 0  0 2px rgb(255,255,255),
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
                }
            }
            .instal {
                grid-column: 1 / span 4;
                margin-top: 2rem;
                transition: all 0.9s;
                
                &:hover {
                    text-shadow: -10px 3px 6px #FFFFFF;
                    transform: scale(1.2);
                    background: url(../asset/Image/pesca50.jpg);
                    background-size: cover;
                    background-position: center;
                    color: map-get($colors , secondary);
                    transition: all 0.9s ;
                    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                    0 0  0 2px rgb(255,255,255),
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
                }   
            }
            h2 {
                color: map-get($colors , secondary);
                text-align: center;
            } 
            article {
                background-color: map-get($colors , tertiary);
                width: 100%;
                padding: 12rem;
            }
            p {
                line-height: 3rem;
            }
            .ubicacion {
                grid-column: 1 / span 4;
                text-align: center;
                margin-top: 10rem;
                width: 100%;
                h2 {
                    color: map-get($colors , secondary);
                    background-color: map-get($colors , tertiary);
                    margin-bottom: 2rem;
                    width: 100%;
                    transition: all 0.9s;
                    &:hover {
                        text-shadow: -10px 3px 6px #FFFFFF;
                        transform: scale(1.2);
                        background: url(../asset/Image/naturaleza45.jpg);
                        color: map-get($colors , secondary);
                        transition: all 0.9s ;
                        box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                        0 0  0 2px rgb(255,255,255),
                        0.3em 0.3em 1em rgba(0,0,0,0.3);
                    }
                  }
                
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px){
	
    body{
	    background-color: map-get($colors , tertiary);
        .gridP {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 7.2rem auto auto auto auto 20rem;
            justify-items: center;
            align-items: center;
            .back {
                @include baner
            }
            .hist {
                grid-column: 1 / span 2;
                margin-top: 2rem;
                transition: all 0.9s;
                &:hover {
                    text-shadow: -10px 3px 6px #FFFFFF;
                    transform: scale(1.2);
                    background: url(../asset/Image/pescareel32.jpg);
                    background-size: cover;
                    color: map-get($colors , secondary);
                    transition: all 0.9s ;
                    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                    0 0  0 2px rgb(255,255,255),
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
                }
            }
            .instal {
                grid-column: 1 / span 2;
                margin-top: 2rem;
                transition: all 0.9s;
                &:hover {
                    text-shadow: -10px 3px 6px #FFFFFF;
                    transform: scale(1.2);
                    background: url(../asset/Image/pesca50.jpg);
                    background-size: cover;
                    background-position: center;
                    color: map-get($colors , secondary);
                    transition: all 0.9s ;
                    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                    0 0  0 2px rgb(255,255,255),
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
                }   
            }
            h2 {
                color: map-get($colors , tertiary);
                text-align: center;
            } 
            article {
                background-color: map-get($colors , secondary);
                width: 100%;
                padding: 12rem;
            }
            p {
                line-height: 3rem;
            }
            .ubicacion {
                grid-column: 1 / span 2;
                text-align: center;
                margin-top: 10rem;
                width: 100%;
                h2 {
                    color: map-get($colors , tertiary);
                    background-color: map-get($colors , secondary);
                    margin-bottom: 2rem;
                    width: 100%;
                    transition: all 0.9s;
                    &:hover {
                        text-shadow: -10px 3px 6px #FFFFFF;
                        transform: scale(1.2);
                        background: url(../asset/Image/naturaleza45.jpg);
                        color: map-get($colors , secondary);
                        transition: all 0.9s ;
                        box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                        0 0  0 2px rgb(255,255,255),
                        0.3em 0.3em 1em rgba(0,0,0,0.3);
                    }
                  }
                
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    body{
	    background-color: map-get($colors , secondary);
        .gridP {
            display: grid;
            grid-template-columns: 100%;
            justify-items: center;
            align-items: center;
            .back {
                @include baner
            }
            .hist {
                grid-column: 1 / 2;
                margin-top: 0.1rem;
                padding: 2rem;
            }
            .instal {
                grid-column: 1 / 2;
                margin-top: 0.1rem; 
                padding: 2rem;
            }
            h2 {
                color: map-get($colors , tertiary);
                text-align: center;
                font-size: 2.6em;
            } 
            article {
                background-color: map-get($colors , secondary);
                width: 100%;
                padding: 0.5rem;
            }
            p {
                font-size: 1.3em;
                line-height: 1.6em;
            }
            .ubicacion {
                grid-column: 1 / 2;
                text-align: center;
                margin-top: 10rem;
                padding: 2rem;
                width: 100%;
                h2 {
                    color: map-get($colors , secondary);
                    background-color: map-get($colors , tertiary);
                    margin-bottom: 2rem;
                    width: 100%;
                    font-size: 2.6em;
                }  
            }
        }
    }
}