@media only screen and (min-width:1024px) {
    body { background-color: map-get($colors , quarter);
        .gridS {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 7.2rem auto auto auto auto 20rem;
            justify-items: center;
            align-items: center;
            .back {
                @include baner
            }
            .hab, .resto {
                grid-column: span 2;
                background-color: map-get($colors , tertiary);
                margin: 2rem;
                width: 90%;
                padding: 5rem;
                transition: all 0.9s;
                &:hover {
                    text-shadow: -2px 3px 6px #FFFFFF;
                    transform: scale(1.3, 1.3);
                    color: map-get($colors , secondary);
                    transition: all 0.9s ;
                    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                    0 0  0 2px rgb(255,255,255),
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
                }  
                h2 { 
                    color: map-get($colors , secondary);
                    text-align: center;
                }
            }
            
            .hab {
                &:hover {
                    transform-origin: left;
                    background: url(../asset/Image/hab.jpg);
                    background-size: cover;
                    background-position: center;
                }
            }
            
            .resto {
                &:hover {
                    transform-origin: right;
                    background: url(../asset/Image/restbar.jpg);
                    background-size: cover;
                    background-position: center;
                }   
            }

            .paquetes, .sorteo {
                grid-column: 1 / span 4;
                background-color: map-get($colors , tertiary);
                margin: 2rem;
                transition: all 0.9s; 
                &:hover {
                    
                    transform: scale(1.2);
                    color: map-get($colors , secondary);
                    transition: all 0.9s ;
                    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                    0 0  0 2px rgb(255,255,255),
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
                }
            }
            .paquetes {
                &:hover { 
                    text-shadow: -2px 3px 6px #FFFFFF;
                    background: url(../asset/Image/servpesc.jpg);
                    background-size: cover;
                    background-position: center;
                }       
            }
            .sorteo {
                &:hover{
                    background-color: map-get($colors , hoverserv );
                }
                .buttons {
                    margin-top: 5rem;
                    min-width: 700px;
                    display: flex;
                    justify-content: center;
                  }
                  a {
                    margin: 2rem;
                    text-decoration: none;
                    font-size: 2.8em;
                    width: 6rem;
                    height: 6rem;
                    line-height: 6rem;
                    text-align: center;
                    background: #314652;
                    color: #f1f1f1;
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
                    transition: all .4s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            
            h2 {
                color: map-get($colors , secondary);
                text-align: center;
            } 
            article {
                background-color: map-get($colors , tertiary);
                width: 100%;
                padding: 12rem;
            }
            p {
                line-height: 3rem;
            }
            .sorteo {
                ol li {
                    font-size: 1.6em;
                }
            }  
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    body { background-color: map-get($colors , quarter);
        .gridS {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 7.2rem auto auto auto auto 20rem;
            justify-items: center;
            align-items: center;
            .back {
                @include baner
            }

            .hab, .resto {
                grid-column: span 1;
                background-color: map-get($colors , secondary);
                margin: 2rem;
                padding: 5rem;
                transition: all 0.9s;
                &:hover {
                    text-shadow: -2px 3px 6px #FFFFFF;
                    transform: scale(1.3, 1.3);
                    color: map-get($colors , secondary);
                    transition: all 0.9s ;
                    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                    0 0  0 2px rgb(255,255,255),
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
                }  
                h2 {
                    color: map-get($colors , tertiary);
                    text-align: center;
                } 
                p {
                    line-height: 3rem;
                }
            }
            .hab {
                &:hover {
                    transform-origin: left;
                    background: url(../asset/Image/hab.jpg);
                    background-size: cover;
                    background-position: center;
                }
            }
            
            .resto {
                &:hover {
                    transform-origin: right;
                    background: url(../asset/Image/restbar.jpg);
                    background-size: cover;
                    background-position: center;
                }   
            }

            .paquetes, .sorteo {
                grid-column: span 2;
                background-color: map-get($colors , secondary);
                margin: 1rem;
                width: 100%;
                padding: 5rem;
                transition: all 0.9s; 
                h2 { 
                    color: map-get($colors , tertiary);
                    text-align: center;
                }
                &:hover {
                    transform: scale(1.08);
                    color: map-get($colors , secondary);
                    transition: all 0.9s ;
                    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                    0 0  0 2px rgb(255,255,255),
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
                }
            }
            .paquetes {
                &:hover {
                    text-shadow: -2px 3px 6px #FFFFFF;
                    background: url(../asset/Image/servpesc.jpg);
                    background-size: cover;
                    background-position: center;
                }       
            }
          
            .sorteo {
                ol li {
                    font-size: 1.6em;
                }
                &:hover {
                    background-color: map-get($colors , hoverserv );
                }
                .buttons {
                    margin-top: 5rem;
                    min-width: 70rem;
                    display: flex;
                    justify-content: center;
                  }
                  a {
                    margin: 2rem;
                    text-decoration: none;
                    font-size: 2.8em;
                    width: 6rem;
                    height: 6rem;
                    line-height: 6rem;
                    text-align: center;
                    background: #314652;
                    color: #f1f1f1;
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
                    transition: all .4s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }  
    }
}
@media only screen and (max-width: 767px) {
    body{
        background-color: map-get($colors , secondary);
        .gridS {
            display: grid;
            grid-template-columns: 100%;
            justify-items: center;
            align-items: center;
            .back {
                @include baner
            }
            .hab, .resto, .paquetes, .sorteo {
                grid-column: 1 / 2;
                background-color: map-get($colors , secondary);
                margin: 2rem 1rem 1rem 1rem;
                padding: 2rem;
                transition: all 0.9s; 
            }
            .sorteo {
                ol li {
                    font-size: 1.5em;
                    color: map-get($colors, primary);
                }
                .buttons {
                    margin-top: 5rem;
                    min-width: 35rem;
                    display: flex;
                    justify-content: center;
                  }
                  a {
                    margin: 2rem;
                    text-decoration: none;
                    font-size: 28px;
                    width: 6rem;
                    height: 6rem;
                    line-height: 6rem;
                    text-align: center;
                    background: #314652;
                    color: #f1f1f1;
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
                    transition: all .4s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            h2 {
                color: map-get($colors , tertiary);
                text-align: center;
                font-size: 2.6em;
            } 
            article {
                background-color: map-get($colors , secondary);
                width: 100%;
                padding: 0.5rem;
            }
            p {
                font-size: 1.3em;
                line-height: 1.6em;
            }
            h3 {
                font-size: 1.5em ;
            }
        }
    }   
}