.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}


@mixin sectionSmall ($backsize: cover, $display: inline-block, $talign: center, $width: 90%, $height: 23rem,  $ptop: 1rem, $margtop: 1rem) {
    background-size: $backsize;
    display: $display;
    text-align: $talign;
    width: $width;
    height: $height;
    padding-top: $ptop;
    margin-top: $margtop;
        
}

