@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $font-primary;
    color: map-get($colors, principal );
}


body {
    background-color: map-get($colors , quarter );
    color: map-get($colors , principal);
    font-family: $font-primary;
      
}  
h1 { font-size: map-get($font-size, Xlarge)}
h2 { font-size: map-get($font-size, large)}
h3 { font-size: map-get($font-size, Medium)}
h4 { font-size: map-get($font-size, Smoll)}
p { font-size: map-get($font-size, Parrafo)}
