$font-primary: "Inter", sans-serif;

$colors:(
    principal: #fff,
    secondary: #000,
    tertiary: #1877f2,
    quarter: #e2efff,
    hoverbtn: #034192,
    hoverserv: rgb(121, 210, 245)
);



$font-size:(
    Xlarge: 6.4em,
    large: 4em,
    Medium: 3em,
    Small: 1.8em,
    Parrafo: 2em
);

